<div class="landing">
  <div class="home-wrap">
    <div class="home-inner">
    </div>
  </div>
</div>
<div class="caption enter-block text-center" @enterLeave>
  <h1 styles="color:black">Willkommen bei Appscort</h1>

  <h3>Der unkompliziertesten Personalvermittlung im Netz</h3>

  <a class="btn btn-outline-light btn-lg" href="#features">Los gehts!</a>

</div>

<a class="down-arrow" href="#features">
  <div class="arrow bounce d-none d-lg-block">
    <i class="fas fa-caret-down" aria-hidden="true"></i>
  </div>
</a>
