<footer>
  <div class="row">
    <div class="col-md-5">
      <img src="../../assets/logoAppscort-weiß-blau.png" style="height: 3rem" alt="Appscort Logo">
      <p>Appscort ist eine einfach zu verstehende und intuitiv nutzbare Personalvermittlungsplattform. Einige der besten
        Arbeitskräfte aus Industrie, Wirtschaft und Handwerk bieten bei uns ihre Dienste an.</p>
      <strong>
        Adresse
      </strong>
      <p>Hans-Detlev-Prien-Straße 10, <br>
        24106 Kiel
      </p>
      <strong>
        Kontakt
      </strong>
      <p>Tel. (0431) 30 16 - 126 <br>
        Fax. (0431) 30 16 - 380<br>
        email@appscort.de</p>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-reddit-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>

    </div>
    <div class="col-md-7">
      <h3>Kontaktiere Uns</h3>
      <form id="contact-form" method="POST" action="">
        <div class="nachrichten"></div>
        <div class="kontrolle">
          <div class="gruppe">
            <input id="form_name" type="text" name="name" class="form-kontrolle" placeholder="Gib deinen Namen ein."
              required="required">
          </div>
          <div class="gruppe">
            <input id="form_email" type="email" name="email" class="form-kontrolle"
              placeholder="Gib deine E-Mail Adresse ein." required="required">
          </div>
          <div class="gruppe">
            <textarea id="form_nachricht" name="nachricht" class="form-kontrolle"
              placeholder="Gib deine Nachricht an uns ein." rows="4" required="required"></textarea>
          </div>
          <input type="submit" name="email" class="btn btn-klein btn-blau" value="Absenden">
        </div>
      </form>
    </div>

    <hr class="socket">
    &copy; Malte und Hendrik.
  </div>
</footer>
