<div class="fixed-background" style="min-height: 600px">

  <div class="row light">

    <div class="col-12 os">
      <h3 class="überschrift" style="color:black">
        Unser Team
      </h3>
      <div class="underline"></div>
    </div>

    <div class="col-md-12 os">


      <div id="team-slider" class="owlCarousel owl-carousel owl-theme">
        <div class="card text-center">
          <img class="card-img-top" src="../../../../assets/pictures/Team/beard-casual-cowboy-2250519.jpg"
            alt="CEO von Appscort, Cowboy John">
          <div class="card-body">
            <h4>Cowboy John</h4>
            <h5>CEO</h5>
            <p>John ist ein ehemaliger Bullenreiter. Im Alter hat John sich entschieden, das Bullenreiten der Gesundheit
              abträglich ist, und er nun lieber ein Enterpreneur sein möchte und gründete
              Appscort. John hat 25 Jahre Erfahrung im Bullenreiten.</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="card text-center">
          <img class="card-img-top" src="../../../../assets/pictures/Team/attractive-beautiful-beauty-2092709.jpg"
            alt="Präsident von Appscort, Claudia Müller">
          <div class="card-body">
            <h4>Claudia Müller</h4>
            <h5>Präsident</h5>
            <p>Claudia hat mehr als 10 Jahre Erfahrung im Model-business. Weil sie so gut aussieht, ist sie unsere
              Präsidentin geworden. *Go Claudi*
            </p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="card text-center">
          <img class="card-img-top" src="../../../../assets/pictures/Team/casual-eyeglasses-eyewear-2117283.jpg"
            alt="Vize-Präsident von Appscort, Mark Schwarz">
          <div class="card-body">
            <h4>Mark Schwarz</h4>
            <h5>Vize-Präsident</h5>
            <p>Mark hat mehr als 10 Jahre Erfahrung im E-business und leitete bereits erfolgreich ein Start-Up, bis
              dieses scheiterte. Er war der einzige Bewerber, den wir bezahlen konnten, macht aber dafür einen
              ordentlichen Job</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="card text-center">
          <img class="card-img-top" src="../../../../assets/pictures/Team/face-man-model-2128807.jpg"
            alt="Leiter Entwicklung, Torben Flehel">
          <div class="card-body">
            <h4>Torben Flehel</h4>
            <h5>Leiter Entwicklung</h5>
            <p>Torben hat mehr als 20 Jahre Erfahrung in der Programmierung. Da die letzten 3 Firmen, in denen Torben
              gearbeitet hat,
              wegen der veröffentlichung von Betriebsgeheimnissen insolvent sind, haben wir das große Glück
              Torben nun bei uns Willkommen zu heißen.
            </p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="card text-center">
          <img class="card-img-top" src="../../../../assets/pictures/Team/adult-cowboy-hat-daylight-1595026.jpg"
            alt="Leiter Finanzen, Jürgen Köhler">
          <div class="card-body">
            <h4>Jürgen Köhler</h4>
            <h5>Leiter Finanzen</h5>
            <p>Jürgen ist ein alter Freund von Cowboy John. Er hat lange Jahre Lotto gespielt und daher ein Händchen
              für Zahlen.</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>


        <!--End Team Carousel-->
      </div>

    </div>
    <!--End col-md-12-->
  </div>
  <div class="fixed-wrap">
    <div id="fixed"></div>
  </div>
</div>