<!--<div style="height: 100%" mat-dialog-content>-->
<div mat-dialog-content style="padding:0px; margin-top: -24px; margin-bottom: -20px">

  <span *ngIf="data === 'portfolio1'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio1.png">
  </span>
  <span *ngIf="data === 'portfolio2'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio2.png">
  </span>
  <span *ngIf="data === 'portfolio3'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio3.png">
  </span>
  <span *ngIf="data === 'portfolio4'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio4.png">
  </span>
  <span *ngIf="data === 'portfolio5'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio5.png">
  </span>
  <span *ngIf="data === 'portfolio6'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio6.png">
  </span>
  <span *ngIf="data === 'portfolio7'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio7.png">
  </span>
  <span *ngIf="data === 'portfolio8'">
    <img src="../../../../assets/pictures/Portfolio/Portfolio8.png">
  </span>

</div>
<mat-dialog-actions align="end" style="margin-top: 15px">
  <button class="btn btn-blau btn-klein" mat-dialog-close>Close</button>
</mat-dialog-actions>
