<a href="#home" class="top-scroll">
  <i class="fas fa-angle-up"></i>
</a>


<div id="home">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <!--Responsive container mit jedem Pixel-->
    <div class="container-fluid">
      <!--Link zum dem Logo (ein Anker)-->
      <a class="navbar-logo" href="#">
        <img src="../../../../assets/logoAppscort-weiß-blau.png" alt="Appscort-Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!--Ungeordnete Liste für das Menü mit ml-auto um die items rechts zu positionieren-->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!--link zu dem erstellten scroll spy in index.html also dem home Abschnitt der Seite-->
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item" *ngIf="auth">
            <a class="nav-link" [routerLink]="['/dienstliste']">Dienstleitungen</a>
          </li>
          <li class="nav-item" *ngIf="auth">
            <a class="nav-link" [routerLink]="['/post']">Erstelle</a>
          </li>
          <li *ngIf="!auth">
            <button (click)="login()" class="button">Login</button>
          </li>
          <li *ngIf="auth">
            <button (click)="logout()" class="button">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
