@charset "UTF-8";
/*--- $prime: #68a5ff  ---*/
h3.überschrift {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}
@media (max-width: 1170px) {
  h3.überschrift {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
}
@media (max-width: 1170px) and (max-width: 970px) {
  h3.überschrift {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 1170px) and (max-width: 970px) and (max-width: 750px) {
  h3.überschrift {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
  }
}

p.font {
  font-size: 1.1rem;
}

p.peter {
  font-size: 1.1rem;
  color: white;
  padding-top: 1rem;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  font-weight: 400;
}
@media (max-width: 1170px) {
  p.peter {
    font-size: 1rem;
    padding-top: 0.9rem;
  }
}
@media (max-width: 1170px) and (max-width: 970px) {
  p.peter {
    font-size: 0.9rem;
    padding-top: 0.7rem;
  }
}
@media (max-width: 1170px) and (max-width: 970px) and (max-width: 750px) {
  p.peter {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    padding-top: 0.2rem;
    background: rgba(108, 91, 73, 0.8);
  }
}

h3.peter {
  color: #ffffff;
  font-family: roboto;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.9rem black;
}
@media (max-width: 1170px) {
  h3.peter {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
}
@media (max-width: 1170px) and (max-width: 970px) {
  h3.peter {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 1170px) and (max-width: 970px) and (max-width: 750px) {
  h3.peter {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
}

.btn-klein {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 1.1rem;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}

.btn-secondary {
  border-color: #94939e;
  background-color: #94939e;
  color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #606060;
  background-color: #606060;
  color: #ffffff;
}

.btn-blau {
  border-color: #68a5ff;
  background-color: #68a5ff;
  color: #ffffff;
}

.btn-blau:hover,
.btn-blau:focus {
  border-color: #306AFF;
  background-color: #306AFF;
  color: #ffffff;
}

.os {
  margin: 0 !important;
  max-width: 100%;
  opacity: 1;
}

.background {
  background-color: #e7d6c4;
  z-index: -1000;
}

.underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #68a5ff;
  margin: 0 auto 2rem;
}

.text-center {
  text-align: center;
}

.spacing {
  letter-spacing: 0.1rem;
}

.fixed-background {
  position: relative;
  width: 100%;
}

.fixed-wrap {
  clip-path: inset(0 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.appscort-logo img {
  height: 3rem;
}

/*'################################### Media Queries ##################################*/
/* Ansicht unter 992 px (lg)*/
.video-background {
  position: relative;
  width: 100%;
  min-height: 700px;
  background-color: #795F48;
}

.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 95%;
  height: 95%;
  background-size: auto;
  background-position: center center;
  -webkit-transform: translateZ(0);
  -webkit-transform-transform: translateZ(0);
  will-change: transform;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.model__card {
  display: block;
  width: 100%;
  height: 50%;
  cursor: pointer;
  background-color: yellow;
}

.embed__video {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=video.component.css.map */
