<div class="mt-8">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let dienst of dienstList">

                <div style="display:flex; justify-content: space-between;" class="tile dienst-segment text_mittig">
                    <h3>{{dienst.heading}}</h3>
                    <p>{{dienst.inhalt}}</p>
                    <a style="display:flex; justify-content: center;" class="btn btn-klein btn-secondary" href="#"
                        role="button">Buy</a>
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>

<div id="contact ">
    <app-contact></app-contact>
</div>