<div class="mt-8">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3>Erstelle neue Dienstleitung</h3>
        <form #contactform="ngForm">

          <div class="gruppe">
            <input type="text" class="form-kontrolle" id="heading" name="heading" [(ngModel)]="heading"
              placeholder="Gib den Namen der Dienstleistung ein.">
          </div>
          <div class="gruppe">
            <textarea rows="4" type="text" name="inhalt" [(ngModel)]="inhalt" class="form-kontrolle" id="inhalt"
              placeholder="Beschreibe die Dienstleistung"></textarea>
          </div>
          <button type="submit" (click)="onSubmit(); dienstForm.reset()" class="btn btn-klein btn-blau">Erstelle
            Dienstleistung</button>

        </form>
      </div>



    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
    </div>
  </div>
  <div id="contact ">
    <app-contact></app-contact>
  </div>